nb-card.dialog-card {
  margin: auto;
  width: 100vh;
}

nb-card.formChecklist > nb-card-footer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.input-group {
  flex-flow: row nowrap;
}

.input-group > .form-control {
  height: auto;
  padding: 0;
}
