<form novalidate autocomplete="off" [formGroup]="formPassword">
  <nb-card>
    <nb-card-header> Change Password </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="">Old Password</label>
            <input
              type="text"
              name="old_password"
              formControlName="old_password"
              nbInput
              fullWidth
              [status]="
                (submitted || f.old_password.touched) && f.old_password.errors
                  ? 'danger'
                  : ''
              "
            />
            <div
              *ngIf="
                (submitted || f.old_password.touched) && f.old_password.errors
              "
              class="card-text"
            >
              <small
                *ngIf="f.old_password.errors?.required"
                class="text-muted text-muted-danger"
              >
                Field required
              </small>

              <small
                *ngIf="f.old_password.errors?.minlength"
                class="text-muted text-muted-danger"
              >
                First name is short, requires at least
                {{ f.old_password.errors?.minlength.requiredLength }} characters
              </small>

              <small
                *ngIf="f.old_password.errors?.maxlength"
                class="text-muted text-muted-danger"
              >
                First name is long, maximun
                {{ f.old_password.errors?.maxlength.requiredLength }} characters
                allowed
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="">New Password</label>
            <input
              type="password"
              name="new_password"
              formControlName="new_password"
              nbInput
              fullWidth
              [status]="
                ((submitted || f.new_password.touched) &&
                  f.new_password.errors) ||
                fe
                  ? 'danger'
                  : ''
              "
            />
            <div
              *ngIf="
                (submitted || f.new_password.touched) && f.new_password.errors
              "
              class="card-text"
            >
              <small
                *ngIf="f.new_password.errors?.required"
                class="text-muted text-muted-danger"
              >
                Field required
              </small>

              <small
                *ngIf="f.new_password.errors?.minlength"
                class="text-muted text-muted-danger"
              >
                First name is short, requires at least
                {{ f.new_password.errors?.minlength.requiredLength }} characters
              </small>

              <small
                *ngIf="f.new_password.errors?.maxlength"
                class="text-muted text-muted-danger"
              >
                First name is long, maximun
                {{ f.old_password.errors?.maxlength.requiredLength }} characters
                allowed
              </small>

              <small
                *ngIf="f.new_password.errors?.pattern"
                class="text-muted text-muted-danger"
              >
                Contraseña insegura
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input
              type="password"
              name="con_password"
              formControlName="con_password"
              nbInput
              fullWidth
              [status]="
                ((submitted || f.con_password.touched) &&
                  f.con_password.errors) ||
                fe
                  ? 'danger'
                  : ''
              "
            />
            <div
              *ngIf="
                (submitted || f.con_password.touched) && f.con_password.errors
              "
              class="card-text"
            >
              <small
                *ngIf="f.con_password.errors?.required"
                class="text-muted text-muted-danger"
              >
                Field required
              </small>
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="fe">
          <nb-alert size="tyny" outline="danger">
            <span *ngIf="fe?.passwordMatch"> Contraseña no hacen match</span>
          </nb-alert>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton="" (click)="savePassword()">Actualizar</button>
    </nb-card-footer>
  </nb-card>
</form>
