<nb-card [nbSpinner]="spinner">
    <nb-card-header>
        {{ client.first_name }} {{ client.last_name }}
    </nb-card-header>
    <nb-card-body [nbSpinner]="spinner" *ngIf="documents_list.length > 0">
        <nb-card>
            <nb-card-body>
                <ngx-upload-document *ngFor="let document_file of documents_list" [document]="document_file" (upload_file)="loadDocuments()"></ngx-upload-document>
            </nb-card-body>
        </nb-card>

        <ngx-list-documents [documents]="documents_list"></ngx-list-documents>

    </nb-card-body>
</nb-card>