<nb-card>
    <nb-card-header>
        Review Documents
    </nb-card-header>
    <nb-card-body>
        <nb-accordion [nbSpinner]="loading">
            <nb-accordion-item>
                <nb-accordion-item-header>
                    {{ process.client.first_name }} - {{ process.client.last_name }}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <ngx-list-documents [client]="process.client"></ngx-list-documents>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item *ngFor="let familyMember of listFamiliMembers$ | async">
                <nb-accordion-item-header>
                    {{ familyMember.first_name }} - {{ familyMember.last_name }}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim porro repellat non rerum sapiente, nesciunt temporibus ducimus, placeat illo quo nobis deserunt eaque incidunt ullam reiciendis facere id eveniet esse.
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>