<ng-container *ngIf="date; else elseTemplate">
  <div class="">
    <nb-card>
      <nb-card-body>
        <label for=""> {{ left_days }} Days left</label>

        <nb-progress-bar
          [value]="calcular()"
          [status]="color_status"
          displayValue="true"
        >
        </nb-progress-bar>

        <div class="info">
          <section>
            {{ start_date.format(format).toString() }}
          </section>
          <section>{{ time }} - Days</section>
          <section>
            {{ end_date.format(format).toString() }}
          </section>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</ng-container>

<ng-template #elseTemplate> </ng-template>
