<nb-list>
  <nb-list-item>
    <div class="row text-center">
      <div class="col-1">#</div>
      <div class="col-5">Full Name</div>
      <div class="col-3">Relationship</div>
      <div class="col-1">Age</div>
      <div class="col-2">Options</div>
    </div>
  </nb-list-item>

  <nb-list-item *ngFor="let client of listFamilyMembers; let i = index">
    <div class="row">
      <div class="col-1">
        <nb-checkbox
          [(checked)]="client.checked"
          (checkedChange)="setClientToProcess.emit(client)"
        ></nb-checkbox>
      </div>
      <div class="col-4">
        {{ client.first_name | uppercase }} -
        {{ client.last_name | uppercase }}
      </div>
      <div class="col-3">
        {{ client.relationship }}
      </div>
      <div class="col-2">
        {{ client.age > 99 ? "" : client.age }}
      </div>

      <div class="col-2">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-secondary"
            nbButton
            size="small"
            status="info"
            (click)="update_client.emit(client)"
          >
            <nb-icon pack="far" icon="edit"></nb-icon>
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            nbButton
            size="small"
            status="danger"
            (click)="delete_client.emit(client)"
          >
            <nb-icon pack="far" icon="trash-alt"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </nb-list-item>
</nb-list>

<ng-template #elseTemplate>
  <div class="col-6 col-md-2 text-center">Principal Aplicant</div>
</ng-template>
