<!-- <router-outlet></router-outlet> -->
<nb-card>
    <nb-card-header>
        Forms
    </nb-card-header>
    <nb-card-body>
        <div class="cards">
            <ngx-card-documents class="card" [form_guide]="form" *ngFor="let form of forms"></ngx-card-documents>
        </div>

    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>
        Guides
    </nb-card-header>
    <nb-card-body>
        <div class="cards">
            <ngx-card-documents class="card" [form_guide]="guide" *ngFor="let guide of guides"></ngx-card-documents>
        </div>
    </nb-card-body>
</nb-card>