<!-- language test / exam -->
<ng-container [formGroup]="parentForm">
  <nb-card accent="info" [formGroupName]="nameSection">
    <nb-card-header>
      <label for="">Language test</label>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>
              Have you taken a Language Exam, in either English or French,
              within the last two(2) years?
            </label>
            <nb-select
              name="p_language_001"
              placeholder="Select Showcase"
              fullWidth
              formControlName="p_language_001"
              [status]="
                (submitted || f.p_language_001.touched) &&
                f.p_language_001.errors
                  ? 'danger'
                  : ''
              "
            >
              <nb-option value="">Select...</nb-option>
              <nb-option
                *ngFor="let item of optYesNo$ | async"
                [value]="item.value"
              >
                {{ item.name }}
              </nb-option>
            </nb-select>
            <div
              class="card-text text-white"
              *ngIf="
                (submitted || f.p_language_001.touched) &&
                f.p_language_001.errors
              "
            >
              <small
                *ngIf="f.p_language_001.errors?.required"
                class="text-muted text-muted-danger"
              >
                Field required
              </small>
            </div>
          </div>
        </div>
      </div>

      <ng-container>
        <ng-container *ngIf="childForm.errors && childForm.errors?.langTest">
          <div class="row">
            <div class="col-12 text-center">
              <nb-alert outline="danger">
                Please complete one or both language sections
              </nb-alert>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-12 col-md-6">
            <nb-card accent="info">
              <nb-card-header>
                <label for=""> English Test </label>
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>
                        Which official language test did you take?
                      </label>
                      <nb-select
                        name="p_language_en_001"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_en_001"
                        [status]="
                          (submitted || f.p_language_en_001.touched) &&
                          f.p_language_en_001.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optEnglishTest$ | async"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_001.touched) &&
                          f.p_language_en_001.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_001.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label> Which IELTS Exam did you take? </label>
                      <nb-select
                        name="p_language_en_002"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_en_002"
                        [status]="
                          (submitted || f.p_language_en_002.touched) &&
                          f.p_language_en_002.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optIeltsExam$ | async"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_002.touched) &&
                          f.p_language_en_002.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_002.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label> Exam results date? </label>

                      <input
                        name="p_language_en_003"
                        placeholder="Pick Date"
                        nbInput
                        fullWidth
                        formControlName="p_language_en_003"
                        readonly="readonly"
                        [nbDatepicker]="enPicker"
                        [status]="
                          (submitted || f.p_language_en_003.touched) &&
                          f.p_language_en_003.errors
                            ? 'danger'
                            : ''
                        "
                      />
                      <nb-datepicker
                        #enPicker
                        [showHeader]="false"
                        [min]="min"
                        [max]="max"
                      >
                      </nb-datepicker>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_003.touched) &&
                          f.p_language_en_003.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_003.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Speaking </label>
                      <nb-select
                        name="p_language_en_004"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_en_004"
                        [status]="
                          (submitted || f.p_language_en_004.touched) &&
                          f.p_language_en_004.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreEnSpeaking"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_004.touched) &&
                          f.p_language_en_004.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_004.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Listening </label>
                      <nb-select
                        name="p_language_en_005"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_en_005"
                        [status]="
                          (submitted || f.p_language_en_005.touched) &&
                          f.p_language_en_005.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreEnListening"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_005.touched) &&
                          f.p_language_en_005.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_005.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Reading </label>
                      <nb-select
                        name="p_language_en_006"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_en_006"
                        [status]="
                          (submitted || f.p_language_en_006.touched) &&
                          f.p_language_en_006.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreEnReading"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_006.touched) &&
                          f.p_language_en_006.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_006.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Writing </label>
                      <nb-select
                        name="p_language_en_007"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_en_007"
                        [status]="
                          (submitted || f.p_language_en_007.touched) &&
                          f.p_language_en_007.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreEnWriting"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_en_007.touched) &&
                          f.p_language_en_007.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_en_007.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-12 col-md-6">
            <nb-card accent="info">
              <nb-card-header>
                <label for=""> French Test </label>
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>
                        Which official language test did you take?
                      </label>
                      <nb-select
                        name="p_language_fr_001"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_fr_001"
                        [status]="
                          (submitted || f.p_language_fr_001.touched) &&
                          f.p_language_fr_001.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optFrenchTest$ | async"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_fr_001.touched) &&
                          f.p_language_fr_001.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_fr_001.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label> Exam results date? </label>
                      <input
                        name="p_language_fr_002"
                        placeholder="Pick Date"
                        nbInput
                        fullWidth
                        formControlName="p_language_fr_002"
                        readonly="readonly"
                        [nbDatepicker]="frPicker"
                        [status]="
                          (submitted || f.p_language_fr_002.touched) &&
                          f.p_language_fr_002.errors
                            ? 'danger'
                            : ''
                        "
                      />
                      <nb-datepicker
                        #frPicker
                        [showHeader]="false"
                        [min]="min"
                        [max]="max"
                      >
                      </nb-datepicker>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_fr_002.touched) &&
                          f.p_language_fr_002.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_fr_002.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Speaking </label>
                      <nb-select
                        name="p_language_fr_003"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_fr_003"
                        [status]="
                          (submitted || f.p_language_fr_003.touched) &&
                          f.p_language_fr_003.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreFrSpeaking"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_fr_003.touched) &&
                          f.p_language_fr_003.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_fr_003.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Listening </label>
                      <nb-select
                        name="p_language_fr_004"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_fr_004"
                        [status]="
                          (submitted || f.p_language_fr_004.touched) &&
                          f.p_language_fr_004.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreFrListening"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_fr_004.touched) &&
                          f.p_language_fr_004.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_fr_004.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Reading </label>
                      <nb-select
                        name="p_language_fr_005"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_fr_005"
                        [status]="
                          (submitted || f.p_language_fr_005.touched) &&
                          f.p_language_fr_005.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreFrReading"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_fr_005.touched) &&
                          f.p_language_fr_005.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_fr_005.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label> Writing </label>
                      <nb-select
                        name="p_language_fr_006"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="p_language_fr_006"
                        [status]="
                          (submitted || f.p_language_fr_006.touched) &&
                          f.p_language_fr_006.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optScoreFrWriting"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                      <div
                        class="card-text text-white"
                        *ngIf="
                          (submitted || f.p_language_fr_006.touched) &&
                          f.p_language_fr_006.errors
                        "
                      >
                        <small
                          *ngIf="f.p_language_fr_006.errors?.required"
                          class="text-muted text-muted-danger"
                        >
                          Field required
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </ng-container>

      <!-- spouse section language test -->
      <ng-container *ngIf="isMarried">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>
                Have your spouse taken a Language Exam, in either English or
                French, within the last two(2) years?
              </label>
              <nb-select
                name="p_language_spouse_001"
                placeholder="Select Showcase"
                fullWidth
                formControlName="p_language_spouse_001"
                [status]="
                  (submitted || f.p_language_spouse_001.touched) &&
                  f.p_language_spouse_001.errors
                    ? 'danger'
                    : ''
                "
              >
                <nb-option value="">Select...</nb-option>
                <nb-option
                  *ngFor="let item of optYesNo$ | async"
                  [value]="item.value"
                >
                  {{ item.name }}
                </nb-option>
              </nb-select>
              <div
                class="card-text text-white"
                *ngIf="
                  (submitted || f.p_language_spouse_001.touched) &&
                  f.p_language_spouse_001.errors
                "
              >
                <small
                  *ngIf="f.p_language_spouse_001.errors?.required"
                  class="text-muted text-muted-danger"
                >
                  Field required
                </small>
              </div>
            </div>
          </div>
        </div>

        <ng-container>
          <ng-container
            *ngIf="childForm.errors && childForm.errors?.spLangTest"
          >
            <div class="row">
              <div class="col-12 text-center">
                <nb-alert outline="danger">
                  Please complete one or both language sections
                </nb-alert>
              </div>
            </div>
          </ng-container>
          <div class="row">
            <div class="col-12 col-md-6">
              <nb-card accent="success">
                <nb-card-header>
                  <label for=""> English Test </label>
                </nb-card-header>
                <nb-card-body>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>
                          Which official language test did you take?
                        </label>
                        <nb-select
                          name="p_language_spouse_en_001"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_en_001"
                          [status]="
                            (submitted || f.p_language_spouse_en_001.touched) &&
                            f.p_language_spouse_en_001.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optEnglishTest$ | async"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_001.touched) &&
                            f.p_language_spouse_en_001.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_001.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label> Which IELTS Exam did you take? </label>
                        <nb-select
                          name="p_language_spouse_en_002"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_en_002"
                          [status]="
                            (submitted || f.p_language_spouse_en_002.touched) &&
                            f.p_language_spouse_en_002.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optIeltsExam$ | async"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_002.touched) &&
                            f.p_language_spouse_en_002.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_002.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label> Exam results date? </label>

                        <input
                          name="p_language_spouse_en_003"
                          placeholder="Pick Date"
                          nbInput
                          fullWidth
                          formControlName="p_language_spouse_en_003"
                          readonly="readonly"
                          [nbDatepicker]="enPicker"
                          [status]="
                            (submitted || f.p_language_spouse_en_003.touched) &&
                            f.p_language_spouse_en_003.errors
                              ? 'danger'
                              : ''
                          "
                        />
                        <nb-datepicker
                          #enPicker
                          [showHeader]="false"
                          [min]="min"
                          [max]="max"
                        >
                        </nb-datepicker>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_003.touched) &&
                            f.p_language_spouse_en_003.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_003.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Speaking </label>
                        <nb-select
                          name="p_language_spouse_en_004"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_en_004"
                          [status]="
                            (submitted || f.p_language_spouse_en_004.touched) &&
                            f.p_language_spouse_en_004.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreEnSpeaking"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_004.touched) &&
                            f.p_language_spouse_en_004.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_004.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Listening </label>
                        <nb-select
                          name="p_language_spouse_en_005"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_en_005"
                          [status]="
                            (submitted || f.p_language_spouse_en_005.touched) &&
                            f.p_language_spouse_en_005.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreEnListening"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_005.touched) &&
                            f.p_language_spouse_en_005.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_005.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Reading </label>
                        <nb-select
                          name="p_language_spouse_en_006"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_en_006"
                          [status]="
                            (submitted || f.p_language_spouse_en_006.touched) &&
                            f.p_language_spouse_en_006.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreEnReading"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_006.touched) &&
                            f.p_language_spouse_en_006.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_006.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Writing </label>
                        <nb-select
                          name="p_language_spouse_en_007"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_en_007"
                          [status]="
                            (submitted || f.p_language_spouse_en_007.touched) &&
                            f.p_language_spouse_en_007.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreEnWriting"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_en_007.touched) &&
                            f.p_language_spouse_en_007.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_en_007.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>

            <div class="col-12 col-md-6">
              <nb-card accent="success">
                <nb-card-header>
                  <label for=""> French Test </label>
                </nb-card-header>
                <nb-card-body>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>
                          Which official language test did you take?
                        </label>
                        <nb-select
                          name="p_language_spouse_fr_001"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_fr_001"
                          [status]="
                            (submitted || f.p_language_spouse_fr_001.touched) &&
                            f.p_language_spouse_fr_001.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optFrenchTest$ | async"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_fr_001.touched) &&
                            f.p_language_spouse_fr_001.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_fr_001.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label> Exam results date? </label>
                        <input
                          name="p_language_spouse_fr_002"
                          placeholder="Pick Date"
                          nbInput
                          fullWidth
                          formControlName="p_language_spouse_fr_002"
                          readonly="readonly"
                          [nbDatepicker]="frPicker"
                          [status]="
                            (submitted || f.p_language_spouse_fr_002.touched) &&
                            f.p_language_spouse_fr_002.errors
                              ? 'danger'
                              : ''
                          "
                        />
                        <nb-datepicker
                          #frPicker
                          [showHeader]="false"
                          [min]="min"
                          [max]="max"
                        >
                        </nb-datepicker>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_fr_002.touched) &&
                            f.p_language_spouse_fr_002.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_fr_002.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Speaking </label>
                        <nb-select
                          name="p_language_spouse_fr_003"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_fr_003"
                          [status]="
                            (submitted || f.p_language_spouse_fr_003.touched) &&
                            f.p_language_spouse_fr_003.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreFrSpeaking"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_fr_003.touched) &&
                            f.p_language_spouse_fr_003.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_fr_003.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Listening </label>
                        <nb-select
                          name="p_language_spouse_fr_004"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_fr_004"
                          [status]="
                            (submitted || f.p_language_spouse_fr_004.touched) &&
                            f.p_language_spouse_fr_004.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreFrListening"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_fr_004.touched) &&
                            f.p_language_spouse_fr_004.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_fr_004.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Reading </label>
                        <nb-select
                          name="p_language_spouse_fr_005"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_fr_005"
                          [status]="
                            (submitted || f.p_language_spouse_fr_005.touched) &&
                            f.p_language_spouse_fr_005.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreFrReading"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_fr_005.touched) &&
                            f.p_language_spouse_fr_005.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_fr_005.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label> Writing </label>
                        <nb-select
                          name="p_language_spouse_fr_006"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="p_language_spouse_fr_006"
                          [status]="
                            (submitted || f.p_language_spouse_fr_006.touched) &&
                            f.p_language_spouse_fr_006.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optScoreFrWriting"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                        <div
                          class="card-text text-white"
                          *ngIf="
                            (submitted || f.p_language_spouse_fr_006.touched) &&
                            f.p_language_spouse_fr_006.errors
                          "
                        >
                          <small
                            *ngIf="f.p_language_spouse_fr_006.errors?.required"
                            class="text-muted text-muted-danger"
                          >
                            Field required
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </nb-card-body>
  </nb-card>
</ng-container>
