<nb-card>
  <nb-card-header>List of process</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 text-right">
        <button nbButton (click)="loadProcess()">Refresh</button>
        <hr />
      </div>

      <div class="col">
        <table class="table table-striped table-bordered">
          <thead class="text-center">
            <tr>
              <th style="width: 200px">Type of process</th>
              <th>Owner</th>
              <th>Email</th>
              <th>Assessor</th>
              <th style="width: 200px">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let process of processes">
              <td>{{ process.visa_category.name }}</td>
              <td>
                {{ process.client.first_name + " " + process.client.last_name }}
              </td>
              <td>{{ process.client.email }}</td>
              <td>
                <nb-select
                  size="small"
                  fullWidth
                  placeholder="Consultan select"
                  [(selected)]="process.consultant"
                >
                  <nb-option [value]="null">Selected</nb-option>
                  <nb-option
                    [value]="consultant._id"
                    *ngFor="let consultant of consultants"
                    >{{
                      consultant.first_name + " " + consultant.last_name ||
                        consultant?.email
                    }}</nb-option
                  >
                </nb-select>
              </td>
              <td>
                <div class="row">
                  <div class="col-12 col-md">
                    <button
                      nbButton
                      fullWidth
                      size="small"
                      status="success"
                      [disabled]="!process.consultant"
                      (click)="save(process)"
                    >
                      <nb-icon pack="far" icon="save"></nb-icon>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
