<nb-card>
    <nb-card-header>
        Process
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let process of processes">
            <div class="row">
                <div class="col-8">
                    {{ process.visa_category.name }}
                </div>
                <div class="col-4">
                    <button (click)="goProcess(process)" nbButton size="small" fullWidth [status]="(process.status !== status.active) ? 'success' : 'primary'" [disabled]="!process.active"> Selec Process </button>
                </div>
            </div>
        </nb-list-item>
    </nb-list>
</nb-card>