<ng-container *ngIf="consultants.length > 0; else elseTemplate">
  <nb-card>
    <nb-card-body>
      <nb-tabset fullWidth>
        <nb-tab
          [tabTitle]="consultant.first_name | uppercase"
          *ngFor="let consultant of consultants"
        >
          <ngx-card-consultant [consultant]="consultant"></ngx-card-consultant>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</ng-container>
<ng-template #elseTemplate>
  <nb-card>
    <nb-card-body>
      <div>No registered Consultant in the process</div>
    </nb-card-body>
  </nb-card>
</ng-template>
