<!-- <nb-card> -->
<nb-list>
    <nb-list-item>
        <div class="row text-center">
            <div class="col-12 col-md-10 row">
                <div class="col-8">
                    Full Name
                </div>
                <div class="col-3">
                    Relationship
                </div>
                <div class="col-1">
                    Age
                </div>
            </div>
            <div class="col-12 col-md-2 row">
                <div class="col-12">
                    Options
                </div>
            </div>
        </div>
    </nb-list-item>
    <!-- <nb-list-item *ngFor="let client of listFamiliMembers"> -->

    <nb-list-item *ngFor="let client of listFamilyMembers; let i = index">
        <div class="row">
            <div class="col-12 col-md-10 row">
                <div class="col-8">
                    {{ client.first_name | uppercase }} - {{ client.last_name | uppercase }}
                </div>
                <div class="col-3">
                    {{ client.relationship }}
                </div>
                <div class="col-1">
                    {{ (client.age > 99) ? '' : client.age }}
                </div>
            </div>

            <ng-container *ngIf="i > 0; else elseTemplate">
                <div class="col-6 col-md-1">
                    <!-- <button type="button" nbButton fullWidth size="small" status="primary" (click)="loadToEditMember(client)"> -->
                    <button type="button" nbButton fullWidth size="small" status="primary" (click)="update_client.emit(client)" *ngIf="visible">
                        <nb-icon pack="far" icon="edit"></nb-icon>
                    </button>
                </div>
                <div class="col-6 col-md-1">
                    <!-- <button type="button" nbButton fullWidth size="small" status="danger" (click)="removeMenber(client)"> -->
                    <button type="button" nbButton fullWidth size="small" status="danger" (click)="delete_client.emit(client)" *ngIf="visible">
                        <nb-icon pack="far" icon="trash-alt"></nb-icon>
                    </button>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="col-6 col-md-2 text-center">
                    Principal Aplicant
                </div>
            </ng-template>
        </div>
    </nb-list-item>
</nb-list>
<!-- </nb-card> -->