<!-- <ng-container *ngIf="process?.steps.length > 0">
  <section class="row">
    <ngx-step-button class="col-1" [steps]="process.steps"></ngx-step-button>
    <ngx-step-show-line
      class="col"
      [steps]="process.steps"
    ></ngx-step-show-line>
  </section>
</ng-container> -->

<nb-card>
  <ng-container *ngIf="process">
    <nb-tabset fullWidth justified="true" (changeTab)="displayMessage($event)">
      <nb-tab tabTitle="Users" tabIcon="person-outline" responsive>
        <ngx-visa-forms [process]="process"></ngx-visa-forms>
      </nb-tab>

      <nb-tab
        tabTitle="Check List"
        tabIcon="checkmark-square-outline"
        responsive
      >
        <ngx-select-documents [process]="process"></ngx-select-documents>
      </nb-tab>

      <nb-tab tabTitle="Documents" tabIcon="folder-outline" responsive>
        <ngx-documents [process]="process"></ngx-documents>
      </nb-tab>

      <nb-tab tabTitle="Forms" tabIcon="archive-outline" responsive>
        <nb-card>
          <nb-card-header> Forms </nb-card-header>
          <nb-card-body>
            <ngx-forms-guides
              [processo]="process"
              type="forms"
            ></ngx-forms-guides>
          </nb-card-body>
        </nb-card>
      </nb-tab>

      <nb-tab tabTitle="Guides" tabIcon="file-text-outline" responsive>
        <nb-card>
          <nb-card-header> Guides </nb-card-header>
          <nb-card-body>
            <ngx-forms-guides
              [processo]="process"
              type="guides"
            ></ngx-forms-guides>
          </nb-card-body>
        </nb-card>
      </nb-tab>

      <nb-tab
        [tabTitle]="tabTitleMessages"
        tabIcon="message-circle-outline"
        responsive
      >
        <ngx-web-chat
          *ngIf="id_process && showMessage"
          [process]="id_process"
        ></ngx-web-chat>
      </nb-tab>
    </nb-tabset>
  </ng-container>
</nb-card>
