<div class="cards">
  <!-- <nb-card class="horizontal" accent="info">
    <nb-card-body class="card-body">
      <section class="card-img">
        <img src="https://picsum.photos/200/300?random=2" alt="" srcset="" />
      </section>

      <section class="card-sub-title">
        <span>Lorem ipsum dolor sit amet.</span>
      </section>

      <section class="card-description">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
          facere.
        </span>
      </section>
    </nb-card-body>
  </nb-card> -->

  <nb-card
    class="horizontal"
    [accent]="item.accent"
    *ngFor="let item of data"
    (click)="goto(item.link)"
  >
    <nb-card-body class="card-body">
      <ng-container *ngIf="item?.img">
        <section class="card-img">
          <img [src]="item.img" alt="" srcset="" />
        </section>
      </ng-container>

      <section class="card-sub-title">
        <span>{{ item.sub_title }}</span>
      </section>

      <section class="card-description">
        <span>
          {{ item.description }}
        </span>
      </section>
    </nb-card-body>
  </nb-card>

  <!-- <nb-card class="horizontal" accent="info">
    <nb-card-body class="horizontal-body">
      <div>
        <button
          nbButton
          fullWidth
          outline
          class="out-line"
          (click)="navigateLink('/pages/assessment-form')"
        >
          <nb-icon class="font-size-custom" icon="edit-2-outline"></nb-icon>
          <span>Assessment-Form</span>
        </button>
      </div>
    </nb-card-body>
  </nb-card> -->

  <!-- <nb-card class="horizontal" accent="success">
    <nb-card-body class="horizontal-body">
      <div>
        <a
          nbButton
          fullWidth
          outline
          class="out-line"
          (click)="navigateLink('/pages/forms-guides')"
        >
          <nb-icon class="font-size-custom" icon="file-text-outline"></nb-icon>
          <span>Forms & Guides</span>
        </a>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card class="horizontal" accent="warning">
    <nb-card-body class="horizontal-body">
      <div>
        <button
          nbButton
          fullWidth
          outline
          class="out-line"
          (click)="navigateLink('/pages/documents')"
        >
          <nb-icon class="font-size-custom" icon="folder-outline"></nb-icon>
          <span>My Documents</span>
        </button>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card class="horizontal" accent="danger">
    <nb-card-body class="horizontal-body">
      <div>
        <button
          nbButton
          fullWidth
          outline
          class="out-line"
          (click)="navigateLink('/pages/family')"
        >
          <nb-icon class="font-size-custom" icon="people-outline"></nb-icon>
          <span>My Family</span>
        </button>
      </div>
    </nb-card-body>
  </nb-card> -->
</div>
