<div class="cards">
  <nb-card
    class="horizontal"
    [accent]="item.accent"
    *ngFor="let item of data"
    (click)="goto(item.link)"
  >
    <nb-card-body class="card-body">
      <ng-container *ngIf="item.img; else elseImage">
        <section class="card-img">
          <img [src]="item.img" alt="" srcset="" />
        </section>
      </ng-container>

      <section class="card-sub-title">
        <span>{{ item.sub_title }}</span>
      </section>

      <section class="card-description">
        <span>
          {{ item.description }}
        </span>
      </section>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #elseImage>
  <section class="card-img">
    <img src="assets/images/card-user-profile.svg" alt="" srcset="" />
  </section>
</ng-template>
