<nb-accordion class="dialog-width">
  <nb-accordion-item>
    <nb-accordion-item-header>
      Add New Family Members
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <ngx-form-family-members
        (saveForm)="saveForm($event)"
      ></ngx-form-family-members>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item [expanded]="true">
    <nb-accordion-item-header> List Family Members </nb-accordion-item-header>
    <nb-accordion-item-body *ngIf="listFamily$ | async as listFamily">
      <ngx-family-list
        [list]="listFamily"
        [visible]="true"
        (update_client)="updateClient($event)"
        (delete_client)="deleteClient($event)"
        (setClientToProcess)="setClientToProcess($event)"
      >
      </ngx-family-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
