<nb-card>
    <nb-card-body>
        <!-- <div>
            <nb-alert outline="primary">Primary. You have been successfully authenticated!</nb-alert>
        </div> -->
        <!-- <div>
            <nb-alert outline="info">Info. You have been successfully authenticated!</nb-alert>
        </div> -->
        <div *ngFor="let message of messages; let id = index">
            <nb-alert [outline]="message.status">
                <p> {{ message.user.first_name }} {{ message.user.last_name }} - {{ message.date }} </p>
                <p> {{ message.message }} </p>
                <!-- {{ id }} - Success. You have been successfully authenticated! -->
            </nb-alert>
        </div>
    </nb-card-body>
</nb-card>