<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header> Answer & Questions </nb-accordion-item-header>
    <nb-accordion-item-body>
      <ul>
        <li>
          <p>
            <label> Question 1: </label>
            <label>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam,
              commodi quasi. Doloribus natus distinctio veritatis.
            </label>
          </p>
        </li>
        <li>
          <p>
            <label> Question 2: </label>
            <label>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam,
              commodi quasi. Doloribus natus distinctio veritatis.
            </label>
          </p>
        </li>
        <li>
          <p>
            <label> Question 3: </label>
            <label>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam,
              commodi quasi. Doloribus natus distinctio veritatis.
            </label>
          </p>
        </li>
      </ul>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header> Contac Support </nb-accordion-item-header>
    <nb-accordion-item-body class="text-center">
      <p>Escribenos a email.soporte@dominio.com</p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header> Callcenter </nb-accordion-item-header>
    <nb-accordion-item-body class="text-center">
      <p>Llamanos a 018000-perdidos en el espacio</p>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
