<ng-container *ngIf="process" [ngSwitch]="visa">
  <ng-template [ngSwitchCase]="vsCategories.visitor">
    <ngx-visitor [process]="process"></ngx-visitor>
    <!-- <ngx-form-visitor></ngx-form-visitor> -->
  </ng-template>

  <ng-template [ngSwitchCase]="vsCategories.expressentry">
    <ngx-form-express-entry [process]="process"></ngx-form-express-entry>
  </ng-template>

  <ng-template [ngSwitchCase]="vsCategories.workpermit">
    <!-- <ngx-work-permit [process]="process"></ngx-work-permit> -->
    <ngx-form-work-permit [process]="process"></ngx-form-work-permit>
  </ng-template>

  <ng-template ngSwitchDefault>
    <div>This isn't enable now</div>
  </ng-template>
</ng-container>
