nb-card-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.client-card {
  // width: 250px;
  width: 15em;
}

.client-card nb-card-header {
  border: solid red 1px;
}

.client-card img {
  border: solid blue 1px;
  width: 100%;
}

.client-card nb-card-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: stretch;
}

// .client-card nb-card-footer button {
//   margin: 0 0.25em;
// }