<nb-card #familyMembers accent="info">
  <nb-card-header>
    <div class="row">
      <div class="col">
        <label for="">FAMILY MEMBERS</label>
      </div>
      <div class="col text-right">
        <button
          type="button"
          nbButton
          size="tiny"
          status="primary"
          (click)="openDialog()"
          *ngIf="visible"
        >
          <!-- <nb-icon icon="plus-circle-outline"></nb-icon> -->
          <nb-icon icon="list-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>

  <ngx-show-family-members
    [list]="listFamilyMembers$ | async"
  ></ngx-show-family-members>
</nb-card>
