<nb-card>
  <nb-card-body>
    <div *ngIf="user; else notUserLoad">
      <ng-container *ngIf="user.role === roles.client; else otherProfile">
        <ngx-profile-client
          [user]="user"
          (userSave)="updatedUser($event)"
        ></ngx-profile-client>
      </ng-container>

      <!-- <ngx-profile-image [user]="user"></ngx-profile-image> -->

      <ngx-profile-password [user]="user"></ngx-profile-password>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #notUserLoad>
  <p>The user can't load</p>
</ng-template>

<ng-template #otherProfile>
  <ngx-profile-consultant></ngx-profile-consultant>
</ng-template>
