<nb-card #familyMembers accent="info">
    <nb-card-header>
        <div class="row">
            <div class="col">
                <label for="">FAMILY MEMBERS</label>
            </div>
            <div class="col text-right">
                <button type="button" nbButton size="tiny" status="primary" (click)="openDialog()">
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col">
                listado de miembros de la familia
            </div>
        </div>
    </nb-card-body>
</nb-card>