<form [formGroup]="clientForm">
    <nb-card class="dialog-card">
        <nb-card-body>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="registeredOn">First Name</label>
                        <input type="text" name="first_name" formControlName="first_name" nbInput fullWidth [status]="((submitted || f.first_name.touched) && f.first_name.errors)?'danger':''" />
                        <div *ngIf="(submitted || f.first_name.touched) && f.first_name.errors" class="card-text">
                            <small *ngIf="f.first_name.errors?.required" class="text-muted text-muted-danger">Field required</small>
                            <small *ngIf="f.first_name.errors?.existe" class="text-muted text-muted-danger">campo con errores</small>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" name="last_name" formControlName="last_name" nbInput fullWidth [status]="((submitted || f.last_name.touched) && f.last_name.errors)?'danger':''" />
                        <div *ngIf="(submitted || f.last_name.touched) && f.last_name.errors" class="card-text">
                            <small *ngIf="f.last_name.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Relationship</label>
                        <nb-select name="relationship" placeholder="Select Showcase" fullWidth formControlName="relationship" [status]="((submitted || f.relationship.touched) && f.relationship.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optRelationships" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div class="card-text text-white" *ngIf="(submitted || f.relationship.touched) && f.relationship.errors">
                            <small *ngIf="f.relationship.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Title</label>
                        <nb-select name="title" placeholder="Select Showcase" fullWidth formControlName="title" [status]="((submitted || f.title.touched) && f.title.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optTitles" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div class="card-text text-white" *ngIf="(submitted || f.title.touched) && f.title.errors">
                            <small *ngIf="f.title.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Sex</label>
                        <nb-select name="sex" placeholder="Select Showcase" fullWidth formControlName="sex" [status]="((submitted || f.sex.touched) && f.sex.errors)?'danger':'' ">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optSex" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div *ngIf="(submitted || f.sex.touched) && f.sex.errors" class="card-text">
                            <small *ngIf="f.sex.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Country of Citizenship</label>
                        <nb-select name="country_citizenship" placeholder="Select Showcase" fullWidth formControlName="country_citizenship" [status]="((submitted || f.country_citizenship.touched) && f.country_citizenship.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optCountries" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div *ngIf="(submitted || f.country_citizenship.touched) && f.country_citizenship.errors" class="card-text">
                            <small *ngIf="f.country_citizenship.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Other Citizenship</label>
                        <nb-select name="other_citizenship" placeholder="Select Showcase" fullWidth formControlName="other_citizenship" [status]="((submitted || f.other_citizenship.touched) && f.other_citizenship.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optCountries" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div *ngIf="(submitted || f.other_citizenship.touched) && f.other_citizenship.errors" class="card-text">
                            <small *ngIf="f.other_citizenship.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Country of Residence</label>
                        <nb-select name="country_residence" placeholder="Select Showcase" fullWidth formControlName="country_residence" [status]="((submitted || f.country_residence.touched) && f.country_residence.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optCountries" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div *ngIf="(submitted || f.country_residence.touched) && f.country_residence.errors" class="card-text">
                            <small *ngIf="f.country_residence.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Status in Country of Residence</label>
                        <nb-select name="status_residence" placeholder="Select Showcase" fullWidth formControlName="status_residence" [status]="((submitted || f.status_residence.touched) && f.status_residence.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optStatus" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div *ngIf="(submitted || f.status_residence.touched) && f.status_residence.errors" class="card-text">
                            <small *ngIf="f.status_residence.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="name">Other Status in Country of Residence</label>
                        <input type="text" name="status_residence_other" formControlName="status_residence_other" nbInput fullWidth [status]="((submitted || f.status_residence_other.touched) && f.status_residence_other.errors)?'danger':''" />
                        <div *ngIf="(submitted || f.status_residence_other.touched) && f.status_residence_other.errors" class="card-text">
                            <small *ngIf="f.status_residence_other.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="">Age</label>
                        <!-- <input type="number" name="age" placeholder="Age" nbInput fullWidth formControlName="age" [status]="((submitted || f.age.touched) && f.age.errors)?'danger':''"> -->
                        <nb-select name="age" placeholder="Select Showcase" fullWidth formControlName="age" [status]="((submitted || f.age.touched) && f.age.errors)?'danger':''">
                            <nb-option value="">Select...</nb-option>
                            <nb-option *ngFor="let item of optAges" [value]='item.value'> {{ item.name }}</nb-option>
                        </nb-select>
                        <div *ngIf="(submitted || f.age.touched) && f.age.errors" class="card-text">
                            <small *ngIf="f.age.errors?.required" class="text-muted text-muted-danger">Field required</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">

                <div class="col-12" *ngIf="visibleClient">
                    <button type="button" nbButton fullWidth status="success" (click)="addMember()">Add Family Member</button>
                </div>

                <div class="col-12" *ngIf="visibleConsultan">
                    <button type="button" nbButton fullWidth status="success" (click)="addMember()" *ngIf="!f._id.value">
                        Add Family Member
                    </button>
                    <div class="row" *ngIf="f._id.value">
                        <div class="col">
                            <button type="button" nbButton fullWidth status="primary" (click)="updateMember()">
                                Update Information
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" nbButton fullWidth status="danger" (click)="clientForm.reset()">
                                Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </div> -->
        </nb-card-body>
        <nb-card-footer class="dialog-footer">
            <button type="button" nbButton (click)="cancel()">
              cancelar
            </button>
            <button type="button" nbButton status="success" *ngIf="!this.client._id" (click)="addMember()">
                guardar
            </button>
            <button type="button" nbButton status="success" *ngIf="this.client._id" (click)="updateMember()">
                update
            </button>
        </nb-card-footer>
    </nb-card>
</form>