.dialog-card {
  width: 80%;
  margin: auto;
}

.formChecklist {
  margin: 0;
}

.dialog-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nb-dialog-container {
  overflow: hidden scroll;
  margin-right: -5px;
}