<ng-template>
  <p>forms works!</p>
  <p>{{ id }}</p>
  <p>{{ visa }}</p>
</ng-template>

<ng-container [ngSwitch]="visa">
  <ng-template [ngSwitchCase]="vsCategories.visitor">
    <!-- <div>{{ visa }}</div> -->
    <ngx-visitor *ngIf="process" [process]="process"></ngx-visitor>
  </ng-template>
  <ng-template [ngSwitchCase]="vsCategories.expressentry">
    <div>
      {{ visa }}
      <p>jajajajaja</p>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="vsCategories.workpermit">
    <div>
      {{ visa }}
      <p>jejejejeje</p>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="vsCategories.tourist">
    <div>{{ visa }}</div>
  </ng-template>
  <ng-template [ngSwitchCase]="vsCategories.study">
    <div>{{ visa }}</div>
  </ng-template>
  <ng-template ngSwitchDefault>
    <div>This is default</div>
  </ng-template>
</ng-container>
