<form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f )">
    <div>
        <nb-card>
            <nb-card-header>SKILLED WORKER</nb-card-header>
            <nb-card-body>
                <nb-card accent='primary'>
                    <nb-card-header>
                        <label for="">Personal information</label>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <nb-select name="title" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of optTitle" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Sex</label>
                                    <nb-select name="sex" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of optSex" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input type="text" name="first-name" nbInput fullWidth placeholder="First Name">
                                </div>

                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input type="text" name="last-name" nbInput fullWidth placeholder="Last Name">
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" name="email" nbInput fullWidth placeholder="Last Name">
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Telephone</label>
                                    <input type="text" name="telephone" nbInput fullWidth placeholder="Last Name">
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Country Citizenship</label>
                                    <nb-select name="country_citizenship" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>

                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Other Citizenship</label>
                                    <nb-select name="other_citizenship" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Country Residence</label>
                                    <nb-select name="country_residence" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Status Residence</label>
                                    <nb-select name="status_residence" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Day of birth (Age)</label>
                                    <nb-select name="birthday" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label for="">Destiny</label>
                            <nb-select name="destiny" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of selectDestiny" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>



                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">Marital Status</label>
                            <nb-select name="marital_status" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">Is Your Spouse, Partner Immigrating With You To Canada?</label>
                            <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="">Number of Children Immigrating </label>
                        <div class="row">
                            <div class="col form-group">
                                <label for="">(0-13 year old)</label>
                                <nb-select name="children_0013" fullWidth placeholder="Select Showcase">
                                    <nb-option value="">Select...</nb-option>
                                    <nb-option *ngFor="let item of optChildren" [value]='item.value'> {{ item.name }}</nb-option>
                                </nb-select>
                            </div>
                            <div class="col form-group">
                                <label for="">(14-22 year old)</label>

                                <nb-select name="children_1322" fullWidth placeholder="Select Showcase">
                                    <nb-option value="">Select...</nb-option>
                                    <nb-option *ngFor="let item of optChildren" [value]='item.value'> {{ item.name }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>







                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">Education</label>
                            <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">Field of education</label>
                            <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">second speciality</label>
                            <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">diploma from a quebec educational institute</label>
                            <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="">have you ever visited quebec</label>
                            <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                <nb-option value="">Select...</nb-option>
                                <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="">language proficiency</label>
                        <div class="row">
                            <div class="col form-group">
                                <label for="">English</label>
                                <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                    <nb-option value="">Select...</nb-option>
                                    <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                </nb-select>
                            </div>

                            <div class="col form-group">
                                <label for="">French</label>
                                <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                    <nb-option value="">Select...</nb-option>
                                    <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <nb-card accent="info">
                            <nb-card-body>
                                <div class="row">
                                    <label for="">
                                      work experience the last 10 years
                                  </label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">Title</label>
                                            <input type="text" nbInput name="we_title" fullWidth placeholder="Select Showcase">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">From</label>
                                            <input type="text" nbInput name="we_start" fullWidth placeholder="Select Showcase">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">To</label>
                                            <input type="text" nbInput name="we_end" fullWidth placeholder="Select Showcase">
                                        </div>
                                    </div>
                                </div>
                            </nb-card-body>
                        </nb-card>

                    </div>

                    <div class="col-12">

                        <div class="row">

                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="">do you have an offer of arranged employment in canada</label>
                                    <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="">is your offer of employment is from an employer in quebec</label>
                                    <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="">In Montreal (if yes)</label>
                                    <nb-select name="partner" fullWidth placeholder="Select Showcase">
                                        <nb-option value="">Select...</nb-option>
                                        <nb-option *ngFor="let item of opt" [value]='item.value'> {{ item.name }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <nb-card accent="info">
                    <nb-card-header>
                        <label for="">
                          Spouse characteristics if applicable
                      </label>
                    </nb-card-header>
                    <nb-card-body>

                    </nb-card-body>
                </nb-card>

                <!--
              <input type="text" nbInput fullWidth placeholder="Nick">
              <input type="text" nbInput fullWidth placeholder="Last Name">
              <input type="password" nbInput fullWidth placeholder="Password">
              <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
              <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
              <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
              <textarea rows="5" nbInput fullWidth shape="semi-round" placeholder="Text Area"></textarea>
              <input type="text" nbInput fullWidth fieldSize="small" placeholder="Small Input">
              <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Medium Input">
              <input type="text" nbInput fullWidth fieldSize="large" placeholder="Large Input">
              -->
            </nb-card-body>
        </nb-card>
    </div>
</form>