<nb-list>
  <nb-list-item>
    <div class="row text-center">
      <div class="col-12 col-md-7">Full Name</div>
      <div class="col-12 col-md-3">Relationship</div>
      <div class="col-12 col-md-2">Age</div>
    </div>
  </nb-list-item>

  <nb-list-item *ngFor="let client of listFamilyMembers; let i = index">
    <div class="row">
      <div class="col-7">
        {{ client.first_name | uppercase }} -
        {{ client.last_name | uppercase }}
      </div>
      <div class="col-3">
        {{ client.relationship }}
      </div>
      <div class="col-2">
        {{ client.age > 99 ? "" : client.age }}
      </div>
    </div>
  </nb-list-item>
</nb-list>

<ng-template #elseTemplate>
  <div class="col-6 col-md-2 text-center">Principal Aplicant</div>
</ng-template>
