nb-card.dialog-card {
  width: 60%;
  margin: auto;
}

nb-card.formChecklist {
  margin: 0;
}

nb-card.formChecklist>nb-card-footer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

// @media screen and (max-width:1024px) and (min-width:640px) {
//   :host .cards {
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//  }
// }