<div class="form-group">
  <div class="input-group" [nbSpinner]="spinner" nbSpinnerStatus="success">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        nbInput
        fullWidth
        #inputFile
        [disabled]="input_enabled"
        (change)="selectFile($event.target.files[0])"
      />
      <label class="custom-file-label" #labelFile>{{ name || title }} </label>
    </div>
    <div class="input-group-append">
      <button
        nbButton
        status="danger"
        size="small"
        shape="rectangle"
        [disabled]="!file_upload || input_enabled"
        type="button"
        (click)="clearFile()"
      >
        <span>
          <nb-icon icon="eraser" pack="fas"></nb-icon>
        </span>
      </button>
    </div>
    <div class="input-group-append">
      <button
        nbButton
        size="small"
        shape="rectangle"
        type=" button"
        [disabled]="!file_upload || input_enabled"
        (click)="uploadDocument()"
      >
        <span>
          <nb-icon icon="upload" pack="fas"></nb-icon>
        </span>
      </button>
    </div>
    <!-- define el status al final del input group -->
    <div class="input-group-prepend">
      <span
        class="input-group-text without-border"
        [ngClass]="getStatus.className"
      >
        Status:
        <!-- {{ document_file.status | uppercase }} -->
        <nb-icon [icon]="getStatus.icon"></nb-icon>
      </span>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Consultant note: </span>
    </div>
    <input
      type="text"
      class="form-control"
      [value]="lastComment(document_file.comments)"
      readonly
    />
  </div>
</div>
