<!-- education -->
<ng-container [formGroup]="parentForm">
  <nb-card accent="info" [formGroupName]="nameSection">
    <nb-card-header>
      <label for="">Education</label>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <label for="">
            What is your highest level of education that you have completed and
            graduated?
          </label>
        </div>
      </div>
      <!-- education history -->
      <nb-card accent="primary">
        <nb-card-header>
          <div class="row">
            <div class="col-12 col-md-10">
              <label> Education History </label>
            </div>
            <div class="col text-right">
              <button
                nbButton
                outLine
                status="primary"
                size="tiny"
                type="button"
                [disabled]="fEduList.length === 10"
                (click)="addEducation()"
              >
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><label>Level</label></th>
                <th><label>Field of Study</label></th>
                <th><label>Name of School/Institution</label></th>
                <th><label>Duration (yrs)</label></th>
                <!-- <th><label>Country</label></th> -->
                <th><label>Option</label></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eduList of fEduList.controls; let i = index">
                <ng-container [formGroup]="eduList">
                  <td>
                    <div class="form-group mb-0">
                      <nb-select
                        name="level"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="level"
                        [status]="
                          (submitted || eduList.controls.level.touched) &&
                          eduList.controls.level.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optLevelEducation"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input
                        type="text"
                        name="study"
                        placeholder="Study"
                        nbInput
                        fullWidth
                        formControlName="study"
                        [status]="
                          (submitted || eduList.controls.study.touched) &&
                          eduList.controls.study.errors
                            ? 'danger'
                            : ''
                        "
                      />

                      <!-- <div class="card-text" *ngIf=" (submitted || eduList.controls.study.touched) && eduList.controls.study.errors " >
                            <small *ngIf=" eduList.controls.study.errors?.required " class="form-text text-muted text-muted-danger" > Field required </small>
                          </div> -->
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input
                        type="text"
                        name="institution"
                        placeholder="School or Institution"
                        nbInput
                        fullWidth
                        formControlName="institution"
                        [status]="
                          (submitted || eduList.controls.institution.touched) &&
                          eduList.controls.institution.errors
                            ? 'danger'
                            : ''
                        "
                      />

                      <!-- <div class="card-text" *ngIf=" (submitted || eduList.controls.institution.touched) && eduList.controls.institution.errors " >
                            <small *ngIf=" eduList.controls.institution.errors?.required " class="form-text text-muted text-muted-danger" > Field required </small>
                          </div> -->
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <nb-select
                        name="duration"
                        placeholder="Select Showcase"
                        fullWidth
                        formControlName="duration"
                        [status]="
                          (submitted || eduList.controls.duration.touched) &&
                          eduList.controls.duration.errors
                            ? 'danger'
                            : ''
                        "
                      >
                        <nb-option value="">Select...</nb-option>
                        <nb-option
                          *ngFor="let item of optYearsEducation"
                          [value]="item.value"
                        >
                          {{ item.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </td>
                  <!-- <td>
                    <div class="form-group mb-0">
                      <nb-select name="country" placeholder="Select Showcase" fullWidth formControlName="country" [status]=" (submitted || eduList.controls.country.touched) && eduList.controls.country.errors ? 'danger' : '' " > <nb-option value="">Select...</nb-option> <nb-option *ngFor="let item of optCountries" [value]="item.value" > {{ item.name }} </nb-option> </nb-select>
                    </div>
                  </td> -->
                  <td class="text-center">
                    <button
                      nbButton
                      type="button"
                      ghost
                      status="danger"
                      size="tiny"
                      [disabled]="fEduList.length === 1"
                      (click)="removeEducation(i)"
                    >
                      <nb-icon icon="close-circle-outline"></nb-icon>
                      <!-- <nb-icon icon="file-remove-outline"></nb-icon> -->
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <div class="">
            <button
              nbButton
              outLine
              status="primary"
              size="tiny"
              type="button"
              fullWidth
              [disabled]="fEduList.length === 10"
              (click)="addEducation()"
            >
              <span>Add education History</span>
              <nb-icon icon="plus-circle-outline"></nb-icon>
            </button>
          </div>
        </nb-card-body>
      </nb-card>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>
              Have you completed an Education Credential Assessment ECA for your
              education outside of Canada?
            </label>
            <nb-select
              name="p_education_001"
              placeholder="Select Showcase"
              fullWidth
              formControlName="p_education_001"
              [status]="
                (submitted || f.p_education_001.touched) &&
                f.p_education_001.errors
                  ? 'danger'
                  : ''
              "
            >
              <nb-option value="">Select...</nb-option>
              <nb-option *ngFor="let item of optYesNo" [value]="item.value">
                {{ item.name }}
              </nb-option>
            </nb-select>
            <!-- <div class="card-text text-white" *ngIf=" (submitted || f.p_education_001.touched) && f.p_education_001.errors " > <small *ngIf="f.p_education_001.errors?.required" class="text-muted text-muted-danger" > Field required </small> </div> -->
          </div>
        </div>
      </div>

      <ng-container *ngIf="isMarried">
        <nb-card accent="success">
          <nb-card-header>
            <div class="row">
              <div class="col-12 col-md-10">
                <label> Spouse Education History </label>
              </div>
              <div class="col text-right">
                <button
                  nbButton
                  outLine
                  status="primary"
                  size="tiny"
                  type="button"
                  [disabled]="fEduSpList.length === 10"
                  (click)="addEducationSpouse()"
                >
                  <nb-icon icon="plus-circle-outline"></nb-icon>
                </button>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><label>Level</label></th>
                  <th><label>Field of Study</label></th>
                  <th><label>Name of School/Institution</label></th>
                  <th><label>Duration (yrs)</label></th>
                  <!-- <th><label>Country</label></th> -->
                  <th><label>Option</label></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let eduSpList of fEduSpList.controls; let i = index"
                >
                  <ng-container [formGroup]="eduSpList">
                    <td>
                      <div class="form-group mb-0">
                        <nb-select
                          name="level"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="level"
                          [status]="
                            (submitted || eduSpList.controls.level.touched) &&
                            eduSpList.controls.level.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optLevelEducation"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                      </div>
                    </td>
                    <td>
                      <div class="form-group mb-0">
                        <input
                          type="text"
                          name="study"
                          placeholder="Study"
                          nbInput
                          fullWidth
                          formControlName="study"
                          [status]="
                            (submitted || eduSpList.controls.study.touched) &&
                            eduSpList.controls.study.errors
                              ? 'danger'
                              : ''
                          "
                        />

                        <!-- <div class="card-text" *ngIf=" (submitted || eduSpList.controls.study.touched) && eduSpList.controls.study.errors " >
                            <small *ngIf=" eduSpList.controls.study.errors?.required " class="form-text text-muted text-muted-danger" > Field required </small>
                          </div> -->
                      </div>
                    </td>
                    <td>
                      <div class="form-group mb-0">
                        <input
                          type="text"
                          name="institution"
                          placeholder="School or Institution"
                          nbInput
                          fullWidth
                          formControlName="institution"
                          [status]="
                            (submitted ||
                              eduSpList.controls.institution.touched) &&
                            eduSpList.controls.institution.errors
                              ? 'danger'
                              : ''
                          "
                        />

                        <!-- <div class="card-text" *ngIf=" (submitted || eduSpList.controls.institution.touched) && eduSpList.controls.institution.errors " >
                            <small *ngIf=" eduSpList.controls.institution.errors?.required " class="form-text text-muted text-muted-danger" > Field required </small>
                          </div> -->
                      </div>
                    </td>
                    <td>
                      <div class="form-group mb-0">
                        <nb-select
                          name="duration"
                          placeholder="Select Showcase"
                          fullWidth
                          formControlName="duration"
                          [status]="
                            (submitted ||
                              eduSpList.controls.duration.touched) &&
                            eduSpList.controls.duration.errors
                              ? 'danger'
                              : ''
                          "
                        >
                          <nb-option value="">Select...</nb-option>
                          <nb-option
                            *ngFor="let item of optYearsEducation"
                            [value]="item.value"
                          >
                            {{ item.name }}
                          </nb-option>
                        </nb-select>
                      </div>
                    </td>
                    <!-- <td>
                    <div class="form-group mb-0">
                      <nb-select name="country" placeholder="Select Showcase" fullWidth formControlName="country" [status]=" (submitted || eduSpList.controls.country.touched) && eduSpList.controls.country.errors ? 'danger' : '' " > <nb-option value="">Select...</nb-option> <nb-option *ngFor="let item of optCountries" [value]="item.value" > {{ item.name }} </nb-option> </nb-select>
                    </div>
                  </td> -->
                    <td class="text-center">
                      <button
                        nbButton
                        type="button"
                        ghost
                        status="danger"
                        size="tiny"
                        (click)="removeEducationSpouse(i)"
                      >
                        <nb-icon icon="close-circle-outline"></nb-icon>
                        <!-- <nb-icon icon="file-remove-outline"></nb-icon> -->
                      </button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <div class="">
              <button
                nbButton
                outLine
                fullWidth
                status="primary"
                size="tiny"
                type="button"
                [disabled]="fEduSpList.length === 10"
                (click)="addEducationSpouse()"
              >
                <span>Add education History</span>
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </div>
          </nb-card-body>
        </nb-card>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>
                Has your spouse completed an Education Credential Assessment ECA
                for his/her education outside of Canada?
              </label>
              <nb-select
                name="p_education_spouse_001"
                placeholder="Select Showcase"
                fullWidth
                formControlName="p_education_spouse_001"
                [status]="
                  (submitted || f.p_education_spouse_001.touched) &&
                  f.p_education_spouse_001.errors
                    ? 'danger'
                    : ''
                "
              >
                <nb-option value="">Select...</nb-option>
                <nb-option *ngFor="let item of optYesNo" [value]="item.value">
                  {{ item.name }}
                </nb-option>
              </nb-select>
              <div
                class="card-text text-white"
                *ngIf="
                  (submitted || f.p_education_spouse_001.touched) &&
                  f.p_education_spouse_001.errors
                "
              >
                <small
                  *ngIf="f.p_education_spouse_001.errors?.required"
                  class="text-muted text-muted-danger"
                >
                  Field required
                </small>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </nb-card-body>
  </nb-card>
</ng-container>
