<nb-card [nbSpinner]="spinner">
    <nb-card-header>
        <div class="row">
            <div class="col-1">
                <button nbButton size="small" status="primary" (click)="goback()">
                    <nb-icon icon="arrow-back-outline"></nb-icon>
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="id_document && form_guide">
        <div class="row">
            <div class="col-12 text-center">
                <div class="col"> {{ form_guide.name }} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <label for="">Description</label>
                <p class="description">
                    {{ form_guide.description }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button nbButton fullWidth (click)="download()">Download</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>