.ap-dialog-card {
  margin: 15px auto;
  overflow: hidden;
  border: none;
  width: 60%;
}

.ap-form {
  margin-bottom: 0;
}

.ap-form-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nb-alert {
  margin-bottom: 0;
}
